# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
.env
.env.*

# Railway/Render/Fly.io
.DS_Store
*.log

# OS
Thumbs.db
Desktop.ini

# Autres dossiers à ignorer
include/
lib/
Scripts/

# Ne pas ignorer static/ et upload/ si tu veux garder les fichiers utiles
#static/
#upload/
